@import url('https://fonts.googleapis.com/css?family=Calligraffitti/800');
body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    background-image: url("watch.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.8rem;
    padding: 3rem;
    font-size: 1.6rem;
    color: #e46a07;
    font-family: 'Calligraffitti', cursive;
    font-weight: 800;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: #e46a07 solid 0.2rem;
    border-radius: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.9), 0 0 2rem 1rem rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.9), 0 0 2rem 1rem rgba(0, 0, 0, 0.9);
    -webkit-animation: beatingHeart 1s ease-in infinite;
    animation: beatingHeart 1s ease-in infinite;
}

.container:first-child {
    border-right: #e46a07 solid 0.2rem;
    padding: 0.2rem 2rem 0.2rem 2rem;
}

.container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

@-webkit-keyframes beatingHeart {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    90% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes beatingHeart {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    90% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@media(max-width:1800px) {
    .container {
        font-size: 1.8rem;
    }
}
@media(max-width:1024px) {
    .container {
        
        font-size: 1.6rem;
    }
}
@media(max-width:800px) {
    .container {
        grid-template-columns: 1fr;
         font-size: 1.4rem;
    }
    .container .grid-item:first-child {
        border-bottom: #e46a07 solid 0.2rem;
        border-right: none;
    }
}

@media(max-width:480px) {
    .container {
        font-size: 1.2rem;
    }
}


